---
import UnderConstruction from "@/components/UnderConstruction.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="stylesheet"
			href="https://unpkg.com/tailwindcss@3.3.2/src/css/preflight.css"
		/>
		<title>Astro</title>
	</head>
	<body>
		<main>
			<section class="mwc-landing__under-construction">
				<UnderConstruction>
					<div class="mwc-landing__under-construction__content">
						<h1>MIKECHURVIS.COM</h1>
						<p>is currently under construction.</p>
						<p>
							A copy of the old site is
							<a href="/old">available here</a>.
						</p>
					</div>
				</UnderConstruction>
			</section>
		</main>

		<footer>
			<div>
				Icon made from
				<a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
				is licensed by CC BY 3.0
			</div>
		</footer>
	</body>
</html>

<style lang="scss">
	:root {
		--mwc-color-warning: 255, 80, 0;
		font-family: system-ui, sans-serif;
	}

	body {
		background-color: black;
		color: white;
	}

	.mwc-landing__under-construction {
		height: 100vh;
		height: 100svh;
		font-size: clamp(0.5rem, 5vw, 2.5rem);

		&__content {
			display: grid;

			& * {
				justify-self: center;
			}

			h1 {
				font-size: 1.6em;
			}

			p {
				font-size: 0.8em;
			}

			a {
				color: red;
				text-decoration: underline 0.0625em;

				&:visited {
					color: darkred;
				}
			}
		}
	}
</style>
